$blue-dark: #002a4d;
$blue: #004680;
$black: #000;

//MIXINS

@font-face {
    font-family: 'Sansation-Regular';
    src: url('fonts/Sansation-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sansation-Bold';
    src: url('fonts/Sansation-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sansation-Bold';
    src: url('fonts/Sansation-Bold.ttf') format('truetype'), url('fonts/Sansation-Regular.ttf') format('truetype');
}

header {
    position: fixed;
    z-index: 9;
    top: 0;
    width: 100%;
    background: $black;
    border-bottom: 1px solid $black;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,1);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,1);

    .social-media {
        float: right;
        margin-top: 14px;

        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            background: white;
            color: $blue-dark;
            font-size: 15px;
            border: 3px solid white;
            border-radius: 50%;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            -webkit-transition: all .3s;
            transition: all .3s;

            &:hover {
                background: $blue-dark;
                color: white;
            }

            i {
                line-height: 1.9;
                margin-left: 7px;
            }
        }
    }

    .svg-logo {
        float: left;
        margin: 10px 0;

        path {
            fill: $blue;
        }
    }

    &.invet {
        background: white;
        color: $blue;

        .svg-logo path {
            fill: $blue;
        }

        a {
            border-color: $blue;
        }
    }
}

body {
    margin-top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: Open Sans;
    font-family: Sansation-Regular;
    color: $blue-dark;
}

::selection {
    background: #337AB7;
    background: $black;
    color: white;
}

a {
    font-weight: bold;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    font-weight: bold;
    display: inline-block;
    border-bottom: 5px solid $blue-dark;
    font-size: 40px;

    @media screen and (min-width: 768px) {
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

h2 {
    display: inline-block;
    margin-top: 0;
    padding-top: 7px;
    font-weight: bold;
    color: $blue-dark;
    font-size: 24px;

    @media screen and (min-width: 768px) {
        font-size: 30px;
    }
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 20px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}

b {
    font-size: 2rem;
    color: $blue;

    @media screen and (min-width: 768px) {
        font-size: 2.6rem;
    }
}

hr {
    border-top: 1px solid $blue-dark;
}

section {
    padding: 30px 0;
    border-bottom: 3px solid $blue-dark;
}

.sidebar {
    border-top: 5px solid $blue-dark;
    margin-top: 15px;

    @media screen and (min-width: 992px) {
        margin-top: 0;
    }
}

.side-sub {
    border-top: 4px solid white;
}

.home-section {
    position: relative;
    padding: 0;
    overflow: hidden;

    .container {
        position: relative;
        height: 250px;

        @media screen and (min-width: 992px) {
            height: 450px;
        }
    }

    .hero {
        position: absolute;
        bottom: 0;
        height: 90%;
        width: 100%;
        margin-left: -15px;
        margin-bottom: -400px;
        background: url(img/bg-me-cubic.png) no-repeat left bottom;
        background-size: contain;
        -moz-animation: bounce 1s .5s forwards;
        -o-animation: bounce 1s .5s forwards;
        -webkit-animation: bounce 1s .5s forwards;
        animation: bounce 1s .5s forwards;
    }

    .cv-download {
        position: absolute;
        right: 15%;
        bottom: 20%;
        background: rgba(1, 1, 1, 0.3);
        padding: 4px 10px;
        border-radius: 4px;
        border: 3px solid white;
        color: white;
        font-size: 20px;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -webkit-transition: all .3s;
        transition: all .3s;

        &:hover{
            background: $blue-dark;
        }
    }
}

.rectangle-speech-border {
    position: relative;
    padding: 50px 15px;
    margin: 1em 0 3em;
    border: 10px solid white;
    text-align: center;
    color: #333;
    background: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    &::before {
        content: "";
        position: absolute;
        z-index: 10;
        bottom: -40px;
        left: 50px;
        width: 50px;
        height: 30px;
        border-style: solid;
        border-width: 0 10px 10px 0;
        border-color: #5a8f00;
        background: transparent;
        -webkit-border-bottom-right-radius: 80px 50px;
        -moz-border-radius-bottomright: 80px 50px;
        border-bottom-right-radius: 80px 50px;
        display: block;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 10;
        bottom: -40px;
        left: 50px;
        width: 20px;
        height: 30px;
        border-style: solid;
        border-width: 0 10px 10px 0;
        border-color: #5a8f00;
        background: transparent;
        -webkit-border-bottom-right-radius: 40px 50px;
        -moz-border-radius-bottomright: 40px 50px;
        border-bottom-right-radius: 40px 50px;
        display: block;
    }
}

.home-bg-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    div {
        width: 100%;
        border-color: $blue;

        @media screen and (min-width: 992px) {
            display: block;
        }
    }

    .home-slider-top-margin {
        height: 0;

        @media screen and (min-width: 992px) {
            height: 60px;
        }
    }

    .home-slider-frame {
        height: 348px;
        background-color: white;
        border-top: 7px solid;
        border-bottom: 7px solid;
        height: 0;
        margin-top: -70px;
        -moz-animation: openUp 1s 1s forwards;
        -o-animation: openUp 1s 1s forwards;
        -webkit-animation: openUp 1s 1s forwards;
        animation: openUp 1s 1s forwards;
    }

    .home-slider {
        display: block;
        overflow: hidden;
        margin-left: 110%;
        -moz-animation: slideIn 1s 2s forwards;
        -o-animation: slideIn 1s 2s forwards;
        -webkit-animation: slideIn 1s 2s forwards;
        animation: slideIn 1s 2s forwards;

        ul {
            width: 99999999px;
        }

        li {
            display: inline-block;
            float: left;
        }

        img {
            height: 334px;
        }

        @media screen and (min-width: 992px) {
            height: 334px;
        }
    }
}

.hobbies {
    text-align: center;

    .hobby-spinner {
        height: 50px;
        border-top: 4px solid $blue-dark;
        border-bottom: 4px solid $blue-dark;
        padding: 5px;
        overflow: hidden;

        ul {
            li {
                font-size: 25px;
                font-weight: bold;
                color: $blue;
                padding-top: 3px;
                margin-bottom: 30px;
            }
        }
    }
}

.about-section, .work-section {
    background: repeating-linear-gradient( 45deg, #FFFFFF, rgba(0, 42, 77, 0.05) 1px, rgba(0, 42, 77, 0.05) 9px, rgba(70, 82, 152, 0) 10px );
}

.about-skills {
    li a {
        color: white;
        width: 225px;
        display: inline-block;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
    }
}

.skills-section {
    background: $blue;
    color: white;

    ::selection {
        background: white;
        color: $black;
    }

    .sidebar {
        border-color: white;
    }

    h1 {
        border-color: white;
    }

    .skill-title {
        position: relative;
        height: 50px;
        overflow: hidden;
    }

    h2 {
        position: absolute;
        color: white;
    }
}

.skill-bar {
    display: inline-block;
    height: 35px;
    width: calc(100% - 229px);
    border: 3px solid white;
    border-radius: 5px;
    vertical-align: middle;
}

.skill-bar-1 .fill {
    height: 100%;
    width: 98%;
    background: white;
}

.skill-bar-2 .fill {
    height: 100%;
    width: 80%;
    background: white;
}

.skill-bar-3 .fill {
    height: 100%;
    width: 30%;
    background: white;
}

.skill-bar-4 .fill {
    height: 100%;
    width: 15%;
    background: white;
}

.skill-bar-5 .fill {
    height: 100%;
    width: 7%;
    background: white;
}

.skill-info {
    position: relative;
    overflow: hidden;
    min-height: 175px;

    @media screen and (min-width: 480px) {
        min-height: 220px;
    }

    div {
        position: absolute;
        left: 0;
        top: -400px;
    }
}


.work-section {
    .work-list {
        text-align: center;

        @media screen and (min-width: 992x) {
            text-align: left;
        }

        a {
            display: inline-block;
            margin: 10px;
            vertical-align: bottom;

            img {
                max-height: 90px;
                max-width: 200px;

                @media screen and (min-width: 480px) {
                    max-width: 250px;
                }
            }
        }
    }

    .sidebar {
        display: none;
    }
}

.contact-section {
    background: $black;
    color: white;

    ::selection {
        background: white;
        color: $black;
    }

    .sidebar {
        border-color: white;
    }

    .contact-bar {
        @media screen and (min-width: 768px) {
            display: inline-block;
        }

        a {
            display: inline-block;
            width: 37px;
            height: 37px;
            background: white;
            font-size: 22px;
            border: 3px solid white;
            border-radius: 50%;
            margin-top: 10px;
            margin-right: 5px;
            color: $black;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            -webkit-transition: all .5s;
            transition: all .5s;

            &:hover {
                background: $black;
                color: white;
            }

            @media screen and (min-width: 768px) {
                margin-left: 5px;
            }
        }

        i {
            margin-left: 7px;
        }

        .fa-envelope {
            margin-left: 5px;
        }

        label {
            color: white;
            font-size: 18px;

            @media screen and (min-width: 768px) {
                font-size: 20px;
            }
        }
    }

    h1 {
        border-color: white;
    }
}

.signature {
    text-align: center;
    margin: 0;
}

//ANIMATIONS
@keyframes bounce {
    0% {
        margin-bottom: -400px;
    }

    40% {
        margin-bottom: 0px;
    }

    70% {
        margin-bottom: -30px;
    }

    100% {
        margin-bottom: -10px;
    }
}

@-moz-keyframes slideIn {
    0% {
        margin-left: 110%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        margin-left: 110%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes slideIn {
    0% {
        margin-left: 110%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes openUp {
    0% {
        height: 0;
        margin-top: -70px;
    }

    45% {
        margin-top: 150px;
    }

    65% {
        height: 0;
    }

    100% {
        margin-top: 0;
        height: 348px;
    }
}


//SIMPLYSCROLL
/* Container DIV - automatically generated */
.simply-scroll-container {
    position: relative;
}

/* Clip DIV - automatically generated */
.simply-scroll-clip {
    position: relative;
    overflow: hidden;
}

/* UL/OL/DIV - the element that simplyScroll is inited on
Class name automatically added to element */
.simply-scroll-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.simply-scroll-list li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.simply-scroll-list li img {
    border: none;
    display: block;
}

/* Custom class modifications - adds to / overrides above

.simply-scroll is default base class */

/* Container DIV */
.simply-scroll {
    margin-bottom: 1em;
}

/* Explicitly set height/width of each list item */
.simply-scroll .simply-scroll-list li {
    float: left; /* Horizontal scroll only */
}
